<p-progressBar *ngIf="isLoading" mode="indeterminate"></p-progressBar>
<div class="map">
    <div id="map" style="height: 400px; width: 100%" (leafletMapReady)="onMapReady($event)" (leafletClick)="placeMarker($event)" leaflet [leafletOptions]="options"></div>
</div>
<form [formGroup]="velocidadForm" (ngSubmit)="velocidadForm.valid && saveVelocidad()">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                <input pInputText formControlName="latitud" [(ngModel)]="velocidad.latitud" type="number" pInputText placeholder="Latitud">
            </div>
        </div>

        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                <input pInputText formControlName="longitud" [(ngModel)]="velocidad.longitud" type="number" pInputText placeholder="Longitud">
            </div>
        </div>

        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-sun-o"></i></span>
                <input pInputText formControlName="velocidadPrimaria" min="0" max="80" [(ngModel)]="velocidad.velocidadPrimaria" type="number" pInputText placeholder="Velocidad Primaria">
                <span class="ui-inputgroup-addon">Km/h</span>
            </div>
        </div>

        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-road"></i></span>
                <input pInputText formControlName="velocidadSecundaria" min="{{velocidad.velocidadPrimaria}}" max="80" [(ngModel)]="velocidad.velocidadSecundaria" type="number" pInputText placeholder="Velocidad Secundaria">
                <span class="ui-inputgroup-addon">Km/h</span>
            </div>
        </div>

        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-sun-o"></i></span>
                <input pInputText formControlName="velocidadTerciaria" min="{{velocidad.velocidadSecundaria}}" max="80" [(ngModel)]="velocidad.velocidadTerciaria" type="number" pInputText placeholder="Velocidad Terciaria">
                <span class="ui-inputgroup-addon">Km/h</span>
            </div>
        </div>

        <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-road"></i></span>
                <input pInputText formControlName="velocidadCuarta" min="{{velocidad.velocidadTerciaria}}" max="80" [(ngModel)]="velocidad.velocidadCuarta" type="number" pInputText placeholder="Velocidad Cuarta">
                <span class="ui-inputgroup-addon">Km/h</span>
            </div>
        </div>
    </div>
    <button pButton type="submit" icon="pi pi-save" [disabled]="!velocidadForm.valid" label="Guardar" class="ui-button-rounded ui-button-success"></button>
    <button pButton type="button" icon="pi pi-times" (click)="cancelSave()" label="Cancelar" class="ui-button-rounded ui-button-secondary"></button>
</form>